h1{
  text-align: center;
}
.book {
  background: #ffffff;
  text-align: center;
  padding: 5rem;
  border-radius: 1.5rem;
  position: relative;
}
.book img {
  width: 50%;
  background: #000;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background: #4d484b;
  font-size: 1.3rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .book img {
    width: 80%;
  }
}
